<div class="chess-board">
  @for (row of chessBoardView; let x = $index; track x) {
    <div class="row">
      @for (piece of row; let y = $index; track y) {
        <div
          class="square"
          [ngClass]="{
            dark: isSquareBlack(x, y),
            light: !isSquareBlack(x, y),
            'selected-square': isSquareSelected(x, y),
            'last-move': isSquareLastMove(x, y),
            'king-in-check': isSquareChecked(x, y),
          }"
          (click)="move(x, y)">
          <div
            [ngClass]="{
              'safe-square': isSquareSafeForSelectedPiece(x, y),
            }"></div>
          @if (piece) {
            <img [src]="pieceImagePath[piece]" alt="piece" class="piece" />
          }
        </div>
      }
    </div>
  }
</div>
